/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Sep-2016, 19:50:08
    Author     : Can
*/


body {
    margin:0px;
    padding:0px;
    background-color: #f8f8f8;
}

.feedBox {
    
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px 10px 4px 4px;
    background: #FFFFFF;
    padding: 10px; 
    width: 430px;
    height: 480px;
    box-shadow: 2px 2px 2px #888888;
    /* overflow: auto; */
    
}

.feedInnerBox {
    margin: auto;
    border-radius: 10px 10px 4px 4px;
    background: #e5e5e5;
    padding: 10px;
    width: 400px;
    height: 400px;
}

.feedCaption{
    padding: 6px;
    text-align: left;
    overflow: auto;
}

.titleBox{
    border-radius: 0px 0px 1px 1px;
    background: #333333;
    padding: 0px; 
    margin: 0px;
    margin-bottom: 0px;
    height: 40px;    
    box-shadow: 2px 2px 2px #888888;
}

.barTitle {
    margin: 0px;
    padding: 0px;
    margin-right: 6px;
    margin-left: 6px;
    color: white;
    font-size: 180%;
    float: left;
}

.barText {
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 90%;
    float: left;
    font-weight: normal;
    font-family: "Verdana";
}


h1 {
    color: white;
    /* background-color: #00ff00; */
}

p {
    /* background-color: rgb(255,0,255); */
}

nav {
    text-align: left;
    border: 2px;
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

nav li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    color: white;
}
