/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Sep-2016, 19:50:08
    Author     : Can
*/

h1{
    display: block;
    color: black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family:"Verdana";
}

h2{
    color: black;
}


body {
    margin:0px;
    padding:0px;
    background-color: #f8f8f8;
}

.feedBox {
    
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px 10px 4px 4px;
    background: #FFFFFF;
    padding: 10px; 
    width: 430px;
    height: 480px;
    box-shadow: 2px 2px 2px #888888;
    /* overflow: auto; */
    
}

.feedInnerBox {
    margin: auto;
    border-radius: 10px 10px 4px 4px;
    background: #e5e5e5;
    padding: 10px;
    width: 400px;
    height: 400px;
}

.feedCaption{
    padding: 6px;
    text-align: left;
    overflow: auto;
}

.titleBox{
    border-radius: 0px 0px 1px 1px;
    background: #333333;
    padding: 0px; 
    margin: 0px;
    margin-bottom: 0px;
    height: 41px;    
    box-shadow: 2px 2px 2px #888888;
    
    overflow: auto;
    width:100%;
}

.barTitle {
    margin: 0px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 1px;
    color: white;
    font-size: 180%;
    float: left;
    display: block;
    font-family: "Times New Roman";
}


.barText {
    margin: 0px;
    margin-top: 2px;
    padding: 10px;
    color: white;
    font-size: 80%;
    float: left;
    font-weight: normal;
    font-family: "Verdana";
    font-style: italic;
}

.barTextRight {
    margin: 0px;
    margin-top: 2px;
    padding: 10px;
    color: white;
    font-size: 80%;
    float: right;
    font-weight: normal;
    font-family: "Verdana";
    font-style: italic;
}



nav {
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

nav li {
    float: left;
    display: block;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}

nav li a {
    float: left;
    display: block;
    color: #FFFFFF;
    padding: 11px 16px;
    text-decoration: none;
}

nav li a:hover {
    float: left;
    background-color: #555;
    color: white;
    text-decoration: none;
    color: #ff9900;
}

.liRight {
    float: right;
    display: block;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}

.liRight a {
    float: right;
    display: block;
    color: #FFFFFF;
    padding: 11px 16px;
    text-decoration: none;
}

.liRight a:hover {
    float: right;
    background-color: #555;
    color: white;
    /* text-decoration: none; */
}

.centerDiv {
    margin:auto;
    width:520px;
    height:154px;
    
    background: #454545;
    padding: 20px; 
    box-shadow: 2px 2px 2px #888888;
    
    box-sizing: content-box;
    
}

.centerDivTitleNoBG {
    margin:auto;
    width:400px;
    height:40px;
    
    padding: 20px; 
    
}

.leftDiv {
    float:left;
}

.rightDiv {

    float: right;
}

.rightDivProfile2 {

    float:left;
    margin-left:6px;
}

.leftDivProfile {
    float:left;
    width:190px;
}

.rightDivProfile {

    float: right;
    width:190px;
}

p{
    color: white;
    font-family: "Verdana";
}

.pageTitle{
    display:block;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    color: black;
    font-family: "Verdana";
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.pageText{
    display:block;
    margin: auto;
    margin-bottom: 6px;
    margin-top: 6px;
    color: black;
    font-family: "Verdana";
    text-align: center;
}

.pageTextInline{
    display:inline-block;
    margin: auto;
    color: black;
    font-family: "Verdana";
    text-align: center;
}

.footerTextBlock{
    display:block;
    float:right;
    margin: auto;
    margin-top:10px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    font-family: "Verdana";
    text-align: center;
}

.pLeft{
    color: white;
    font-family: "Verdana";
    float:left;
    clear:left;
    min-height: 19px;
}

.pRight{
    color: white;
    font-family: "Verdana";
    float:right;
    clear:right;
}

.profilePic {
    display:block;
    margin: auto;
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}

.pic {
    box-sizing:content-box;
    display:block;
    margin: auto;
    margin-top:16px;
    margin-bottom:16px;
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}

.picThumb {
    display:block;
    margin: auto;
}

.picFeed {
    display: block;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.feedCellDiv {
    display:block;
    width:250px;
    height:270px;
    
    margin:auto;
    text-align:center;
    box-shadow: 2px 2px 2px #888888;
    background-color: #e8e8e8;
    position:relative;
    border: 1px solid #000000;
    margin-top: 2px;
    margin-bottom: 2px;
    
    padding: 1px;
    padding-bottom: 1px;
}

table {
        border-collapse: separate;
        border-spacing: 8px 4px;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*not(.pic),
*not(.pic):before,
*not(.pic):after {
  box-sizing: inherit;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  
  background: #333333;
    padding: 0px; 
    margin: 0px;
    margin-bottom: 0px;
    height: 41px;    
    box-shadow: 0px -2px 2px 1px #555555;
}

.feedInnerDivUpper {
    display: block;
    position: relative;
    width:240px;
    height:230px;
}
.feedInnerDivLower {
    display: block;
    width:240px;
    height:26px;
    
    margin:auto;
    text-align:center;
    background-color: #e8e8e8;
    position:relative;

    margin-top: 2px;
    margin-bottom: 2px;
    
    padding: 1px;
    padding-bottom: 1px;
}

a {
    font-family: "Verdana";
    color: #ff9900;
    text-decoration: none;
}

a:hover {
    font-family: "Verdana";
    color: #ff9900;
    text-decoration: underline;
}

.barText a {
    text-decoration: none;
    color:white;
}

.barTitle a {
    text-decoration: none;
    color:white;
    font-family: "Times New Roman";
}

.barText a:hover {
    text-decoration: none;
}

.barTitle a:hover {
    text-decoration: none;
    color:white;
    color: #ff9900;
    font-family: "Times New Roman";
}

.buttonDiv {
    margin:auto;
    width:400px;
    text-align:center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: #006699;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
}

.commentContainerDiv {
    margin:auto;
    width:800px;
    text-align:center;
    box-shadow: 2px 2px 2px #888888;
    background-color: #666666;
    min-height: 140px;
    position:relative;
    border: 1px solid #000000;

}

.commentLeftDiv {
    margin:auto;
    margin:5px;
    width:100px;
    text-align:center;
    float:left;
    height:140px; 
}

.commentPicDiv {
    margin:auto;
    width:100px;
    height:100px; 
    text-align:center;
    float:left;
    box-shadow: 0px 0px 2px #000000;
    border: 1px solid #000000;
}

.commentTextDiv {
    margin:auto;
    margin-left: 120px;
    padding-top: 5px;
    width:660px;
    text-align:center;
    margin-bottom: 2px;
    overflow-wrap: break-word;
}

.commentBottomDiv
{
    padding-right: 5px;
    width:400px;
    position:absolute;
    bottom:0;
    right: 0;
}

.commentSpaceDiv
{
    width:400px;
    height:30px;
}

.commentTimeText{
    display:block;
    margin: auto;
    color: black;
    font-family: "Verdana";
    font-size: 14px;
    padding-bottom:2px;
    font-style: italic;
    text-align: right;
}

.commentPic{
    width: 100px;
    height: 100px;
}

.blankCommentPic {
    display:block;
    width:100px;
    height:100px; 
    background-color: white;
}

.notificationInfoDiv {
    margin:auto;
    width:800px;
    text-align:center;
    box-shadow: 2px 2px 2px #888888;
    background-color: #e8e8e8;
    min-height: 20px;
    position:relative;
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 12px;
    padding-bottom: 2px;
}

.notificationInfoDiv2 {
    margin:auto;
    width:800px;
    text-align:center;
    box-shadow: 2px 2px 2px #888888;
    background-color: #e8e8e8;
    min-height: 20px;
    position:relative;
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 5px;
    padding-bottom: 2px;
}

.notificationErrorDiv {
    margin:auto;
    width:800px;
    text-align:center;
    box-shadow: 2px 2px 2px #888888;
    background-color: #ff9999;
    min-height: 20px;
    position:relative;
    border: 1px solid #000000;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 12px;
    padding-bottom: 2px;
}

.notificationText{

    margin: auto;
    color: black;
    font-family: "Verdana";
    text-align: center;
}

input[type=text], select {
    width: 500px;
    padding: 12px 20px;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 500px;
    padding: 12px 20px;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align:center;
}

input[type=submit]:hover {
    background-color: #006699;
}


input[type=file] {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    margin-top:8px;
    margin-bottom:8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.centerInlineDiv {
    
    text-align: center;
    
}

.centerDiv2 {
    
    margin:0 auto;
    width: 660px;
    
}

.rightInlineDiv{
    
    text-align: right;
    
}

.leftInlineDiv{
    
    text-align: left;
    
}