/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Sep-2016, 19:50:08
    Author     : Can
*/

h1{
    display: block;
    color: black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family:"Verdana";
}

h2{
    color: black;
}


body {
    margin:0px;
    padding:0px;
    background-color: #f8f8f8;
}

.feedBox {
    
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px 10px 4px 4px;
    background: #FFFFFF;
    padding: 10px; 
    width: 430px;
    height: 480px;
    box-shadow: 2px 2px 2px #888888;
    /* overflow: auto; */
    
}

.feedInnerBox {
    margin: auto;
    border-radius: 10px 10px 4px 4px;
    background: #e5e5e5;
    padding: 10px;
    width: 400px;
    height: 400px;
}

.feedCaption{
    padding: 6px;
    text-align: left;
    overflow: auto;
}

.titleBox{
    border-radius: 0px 0px 1px 1px;
    background: #333333;
    padding: 0px; 
    margin: 0px;
    margin-bottom: 0px;
    height: 40px;    
    box-shadow: 2px 2px 2px #888888;
    
    overflow: auto;
    width:100%;
}

.barTitle {
    margin: 0px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 1px;
    color: white;
    font-size: 180%;
    float: left;
    display: block;
    font-family: "Times New Roman";
}

.barTitle a:hover {
    background-color: #555;
    color: white;
}

.barText {
    margin: 0px;
    margin-top: 2px;
    padding: 10px;
    color: white;
    font-size: 80%;
    float: left;
    font-weight: normal;
    font-family: "Verdana";
    font-style: italic;
}

.barTextRight {
    margin: 0px;
    margin-top: 2px;
    padding: 10px;
    color: white;
    font-size: 80%;
    float: right;
    font-weight: normal;
    font-family: "Verdana";
    font-style: italic;
}

.barTitle a:hover {
    background-color: #555;
    color: white;
}

nav {
    
}



a {
    font-family: "Times New Roman";
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

nav li {
    float: left;
    display: block;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}

nav li a {
    float: left;
    display: block;
    color: #FFFFFF;
    padding: 11px 16px;
    text-decoration: none;
}

nav li a:hover {
    float: left;
    background-color: #555;
    color: white;
}

.liRight {
    float: right;
    display: block;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}

.liRight a {
    float: right;
    display: block;
    color: #FFFFFF;
    padding: 11px 16px;
    text-decoration: none;
}

.liRight a:hover {
    float: right;
    background-color: #555;
    color: white;
}

.centerDiv {
    margin:auto;
    width:400px;
    height:400px;
    
    background: #454545;
    padding: 20px; 
    box-shadow: 2px 2px 2px #888888;
    
}

.leftDiv {
    float:left;
}

.rightDiv {

    float: right;
}

.leftDivProfile {
    float:left;
    width:190px;
}

.rightDivProfile {

    float: right;
    width:190px;
}

p{
    color: white;
    font-family: "Verdana";
}

.pLeft{
    color: white;
    font-family: "Verdana";
    float:left;
    clear:left;
}

.pRight{
    color: white;
    font-family: "Verdana";
    float:right;
    clear:right;
}
